nav {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;
}

.top-info {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

nav input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    font-size: 16px;
    border-radius: 2px;
    padding: 8px 10px;
    margin-right: 10px;
    align-items: center;
}

nav form {
    display: flex;
    align-items: center;
}

nav button {
    width: 100px;
    position: relative;
    top: -1px;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    background-color: #42A5F5;
}

nav h1 {
    font-family: Pacifico, robot, sans-serif;
    color: #444;
    font-size: 20px;
    position: relative;
    top: -3px;
}

.nav-inner-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    heigth: auto;
}

.nav-inner-wrapper h1 {
    font-size: 20px;
}

.nav-inner-wrapper li {
    list-style: none;
}

nav img {
    width: 100%;
    opacity: 0.5;
}

.top-info {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-info h1 {
    font-size: 70px;
    color: white;
    text-shadow: 0 2px 30px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.top-info p {
    font-size: 20px;
    color: white;
    opacity: 0.6;
    text-align: center;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.grid-outer {
    padding: 0 20px;
    box-sizing: border-box;
    width: 25%;
}

.grid-system {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gallery-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.gallery-row > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.gallery-row div p{
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.gallery-row > div:not(:first-of-type) {
    margin-left: 20px;
}

.gallery-row a {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 200px;
}

.grid-outer p, .house-desc p {
    font-weight: 300;
    font-size: 18px;
}

.top-desc h1 {
    font-size: 40px;
    font-weight: 900;
    opacity: 0.8;
    margin-bottom: 30px;
    text-align: center;
}

.top-desc ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    opacity: 0.9;
}

.top-desc ul {
    display: flex;
    flex-direction: row;
    margin: 15px auto 20px;
    justify-content: space-around;
}

.top-desc address {
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}

.top-desc address a {
    color: #546E7A;
}

.gallery-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.footer {
    font-family: Roboto, sans-serfi;
    font-weight: 300;
    width: 80%;
    display: table;
    margin: 50px auto;
    opacity: 0.6;
}

hr {
    opacity: 0.4;
    margin-bottom: 15px;
}

.top-desc {
    display: table;
    margin: 50px auto 0;
    max-width: 700px;
    width: 95%;
}

.house-desc {
    display: table;
    margin: 50px auto 30px;
    width: 95%;
    max-width: 700px;
}

.house-desc p {
    font-size: 21px;
    line-height: 1.4em;
}

@media (max-width: 930px) {
    .grid-system {
        flex-direction: column;
    }

    .grid-system {
        width: 95%;
        display: table;
        margin: 50px auto 0;
    }

    .grid-system > div {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100% !important;
    }

    .grid-outer {
        padding: 0;
    }
}